*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}
nav h2{
    font-size: 45px;
    font-weight: 800;
}
nav{
    display: flex;
    justify-content: space-between;
    margin: 50px 200px;
}
nav li{
    list-style: none;
    margin-left: 50px;

}
nav ul{
    display: flex;
    align-items: center;
}
.botton{
    color: white;
    font-weight: 700;
    font-size: 20px;
    border-radius: 5px;
    background-color: #FD6E0A;
    height: 64px;
    padding: 18px 35px;
    border: 0;
}
.pra{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 200px;

}
.til{
    font-weight: 700;
    font-size: 50px;
}
.sub{
    font-weight: 600;
    font-size: 40px;
    margin-bottom: 20px;
}
.pra p{
    color: #757575;
    font-size: 18px;
    margin-bottom: 30px;
}
.had{
    background-color: #FFF8F3;
    overflow: hidden;
    background-image: url(../images/header_bg.png),url(../images/developer.png);
    background-repeat: no-repeat;
    background-position: bottom right,left;
}
main{
    max-width: 1140;
    margin: 0 auto;
}
.about{
    margin: 130px;
    background-color: #FFF8F3;
    border-radius: 10px;
    padding: 130px 150px;
}
.about h3{
    text-align: center;
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 35px;
}
.about p{
    color: #757575;
    font-size: 18px;
    margin-bottom: 30px;

}
.abu-d{
    display: flex;
    justify-content: space-around;
}
.tile{
    font-size: 20px;
    color: #757575;
    text-align: center;
    text-decoration: underline;
}
.des{
    font-weight: 700;
    font-size: 20px;
    color: #474747;
}
.i-do{
    margin: 130px;
}
.skills-container{
    display: flex;
    gap: 24px;
    margin-top: 220px;
    text-align: center;
}
.skill-title{
    font-weight: 700;
    font-size: 20px;
    margin: 20px;
    text-align: center;
}
skill-des{
    color: #757575;
}
.to{
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 6px 50px grey;
    padding: 30px;
    height: 300px;
}
.h{
    font-size: 50px;
    font-weight: 700;
    text-align: center;

}
.resume{
    margin: 130px;
}
.sume{
    text-align: center;
    font-size: 50px;
    font-weight: 700;
}
.resume-container{
    display: flex;
    gap: 24px;
}
.resume-iteam{
    margin-top: 30px;
    margin: 30px;
}
.resume-iteam h4{
    font-size: 25px;
    font-weight: 700;
    color: #474747;
    margin-bottom: 10px;

}
.resume-iteam h5{
    font-size: 20px;
    font-weight: 600;
    color: #757575;
    margin-bottom: 20px;

}
.resume-iteam p{
    color: #757575;

}
.btt{
    text-align: center;
    margin-top: 50px;
}